In [96]:
print("ridwan") #ridwan is a string

ridwan

In [98]:
firstnumber = 90 #firstnumber is a variable name
# = is use to assign value to a variable
# 90 is the value assigned to the variable

In [99]:
secondnumber = 60 #secondnumber is a variable name
# = is use to assign value to a variable
# 60 is the value assigned to the variable

In [102]:
sum = firstnumber+secondnumber
#sum is also a variable

In [115]:
print (sum)

150

In [10]:
## Data Types in Python are:
# 1.String
# 2.Numbers
# 3.List
# 4.Boelean

In [15]:
filled = True
notFilled = False

In [16]:
print(filled)

True

In [113]:
#it is use to declare a function, addSum is the name of the function
#Declaring a function
#Indentation
def firstFunction(first, second, third):
    sum = first + second + third
    return sum # the end of the function



firstFunction(17,45,67)

SyntaxError: invalid syntax (3253012285.py, line 1)

In [63]:
print(notFilled)

False

In [42]:
addSum(23,67,12)

The sum of the three numbers are 102

102

In [34]:
#first, second and third are parameters for the function
#addSum() is use to call the fuction 
#23,67,12 are arguement

In [67]:
#subtractions
def secondfunction (first, second):
    return (first - second)
secondfunction (20, 45)

-25

In [114]:
print(7**2) #expotential

49

In [73]:
print(49*5) #multiplication
mutliply = 6 * 5
print(mutliply)

245
30

In [74]:
print(12/3) #division

4.0

In [66]:
firstFunction(10,45,67)

122

In [77]:
test = "My division" + str(12/3)

In [80]:
print('My division 4.0')
print(test)

My division 4.0
My division4

In [57]:
print(24%5) #mod

4

In [58]:
reminder = 12%5
print(reminder)

2

In [59]:
#Addition sybmbol = +
#Subtractiob sybmbol = -
#multiplication sybmbol = *
#expotential sybmbol = **
#Mod sybmbol = % percentage sign

In [61]:
#Declare a function called arithmetic which have six parameters
#Step 1: Inside assign the sum of the six numbers to a variable
#Step 2: Assign the subtract of the first four numbers to a variable
#Step 3: Multiply the sum and the subtract from step 1 and step 2, then assign it to a variable
#Step 4: find the reminder of the result in step 3 when divided by 3
#Step 4: return the reminder
#call the function arithematic

In [94]:
def parameter (first, second, third, fourth, fifth, sixth):
    sum = (first +second +third +fourth +fifth + sixth)
    sub = (first -second -third  -fourth)
    mul = (sum*sub)
    rem = mul%3
    return rem
parameter (50,60,70,80,90,50)

2

In [95]:
def arithmetic (value1, value2, value3, value4, value5, value6):
    variable1 = value1 + value2 + value3 + value4 + value5 + value6
    variable2 = value1 - value2 - value3 - value4
    variable3 = variable1*variable2
    reminder = variable3%3
    return reminder
arithmetic (10, 5, 2, 1, 45, 37)

2