In [1]:
var1 = 23 #23 is an integer data type 
type(var1)

int

In [2]:
float = 23.5 # 23.5 is a float data type
type(float)

float

In [3]:
str = 'marusoft' # 'marusoft' is a float data type
type(str)

str

In [4]:
boolean = True # True is a float data type
type(boolean)

bool

In [34]:
list = ['Jafar', 2.4, 'Anas', 14, 25, True] # ['Jafar', 2, 'Anas', 14, 25, True] is a float data type
# type(list)
# print(type(list[]))

<class 'int'>

In [41]:
tuple = (1,2,3)

print(len(tuple))

3

In [ ]:
obj = {'name': 'Jafar', 'age': 30, 'lastname': 'Li-hammed'}

In [47]:
fullName = obj["name"] + ' ' + obj['lastname'] 
print(fullName)

Jafar Li-hammed

In [9]:
set1 = {1, 2, 3}
type(set1)

set

In [75]:
is_sunny = 'VGHsvgh'
temperature = 30
if is_sunny or temperature < 30:
    print("It's a sunny day")

It's a sunny day

In [78]:
if is_sunny and temperature:
    print("It's a hot and sunny day")

It's a hot and sunny day

In [12]:
age = 21
print(age)

21

In [13]:
age = 10
print(age)

10

In [14]:
def greet(name):
    return "Hello "+ name
greet("Jafar")  # Here, "Alice" is an argument.

'Hello Jafar'

In [15]:
is_rainy = True
if is_rainy:
    print('It is not rainy')

It is not rainy

In [16]:
#Comparison operator are == for equal to
age = 30
if age == 30:
    print(True)

True

In [17]:
# != not equal to
if age != 20:
    print(True)

True

In [18]:
# > greater than
if age > 20:
    print(age)

30

In [19]:
# < less than
if age < 30:
    print(age)

In [20]:
# >= greater than or equals to
if age >= 40:
    print('Yes')

In [21]:
# <= less than or equals to

In [22]:
if age <= 20:
    print('yes')

In [23]:
#and logical operator make sure that all conditions are met
is_rainy = True
temperature = 14
if not is_rainy and temperature == 14:
    print("It's a rainy day")

In [24]:
#or logical operator make sure that either of the conditions is met
is_rainy = True
temperature = 14
if not is_rainy or temperature == 20:
    print("It's a rainy day")

In [25]:
# not logical operator is to test the variable is defined
range = True
if not range:
    print("It's a rainy day")

In [26]:
age = 17

In [2]:
def validateAge(age):
    if age > 150:
        print('Are you playing')
    elif age >= 18:
        print('You are an adult')
    elif age > 10:
          print("You need your parent consent")
    else:
          print('Age is not valid')
validateAge(150)

You are an adult

In [1]:
string = '1234'
type(string)

str

In [58]:
# len()
myage = 'Jafar'
hisAge = 'Ridwan'
if len(myage) <= len(hisAge):
    print(len(myage))

5

In [8]:
age = 5
if age > 150:
        print('Are you playing')
elif age >= 18:
        print('You are an adult')
elif age > 10:
          print("You need your parent consent")
else:
          print('Age is too small')

Age is too small

In [10]:
# print(size)

150

In [13]:
size = 45
size = 150
print(size)

150

In [ ]:
def adultHood():
    userInput = input("Press the following key") 
    year = int(userInput)
    int(year)
    if year > 150:
        print('This is a joke')
    elif year >=16:
        print('You are an adult')
    else:
        print('You are not an adult')

adultHood()

In [ ]:
adultHood()

In [9]:
adultHood()

Enter your age: 10
You are not an adult

In [3]:
def converter(degree):
    print('Press these following letters')
    print('CK for Celcius to Kelvin')
    print('KC for Kelvin to Celcius')
    print('FK for fahrenheit to kelvin')
    print('KF for kelvin to fahrenheit')
    print('CF for Celcius')
    print('FC for fahrenheit to cencius')
    unit = input('Input your desired letter ')
    if unit == 'KC':
        return degree + 273.15
    elif unit == 'ck':
        return degree - 273.15 
    elif unit == 'fk':
        return (degree - 32) * 5 / 9 + 273.15
    elif unit == 'kf':
        return  (degree - 273.15) * 9 / 5 + 32
    elif unit == 'cf':
        return  (degree * 9//5) + 32
    elif unit == 'fc':
        return  5/9*(degree - 32)
    
    else:
        return 'Invalid input'
converter(100)

Press these following letters
CK for Celcius to Kelvin
KC for Kelvin to Celcius
FK for fahrenheit to kelvin
KF for kelvin to fahrenheit
CF for Celcius
FC for fahrenheit to cencius
Input your desired letter cf

212

In [4]:
list = [2,2, 44, [7363, 464]]