In [2]:
import pandas as pd
import numpy as np

series = pd.Series([1,45,78,'lihammed',97,60])
series

0           1
1          45
2          78
3    lihammed
4          97
5          60
dtype: object

In [3]:
dates = pd.date_range("20130107", periods=6)
dates

DatetimeIndex(['2013-01-07', '2013-01-08', '2013-01-09', '2013-01-10',
               '2013-01-11', '2013-01-12'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame({'LastPrice': [3000, 4500, 24000], 'NewPrice' : [3500, 5500, 27000]}, index = ['SchoolBag', 'ChickenPot','BagOfRice'])

#data in DataFrame in place in a object like structure e.g {'jbjkc' : [374]}
#while the row name is place in a array like structure e.g index= []

In [14]:
df

            LastPrice  NewPrice
SchoolBag        3000      3500
ChickenPot       4500      5500
BagOfRice       24000     27000