In [14]:
firstList = [2, 4, 10, True, False, 'late']
print(firstList)
empty = len(firstList)
boolean = firstList[empty//2]
sliced = firstList[empty//2:5]
# print(sliced)
firstList[0] = 'early'
firstList[1] = 'modified'
firstList[2] = 'early'
firstList[3] = 'early'
firstList[4] = '76'
firstList.append(76) #Adds an element to the end of the list.
firstList.insert(1, 'birds') #Inserts an element at a specific index.
firstList.remove('early')
firstList.remove(76)  
#firstList.pop(4)#Removes and returns an element at a specific index.
firstList.sort()
# firstList.reverse()
def verify(item):
    if item in firstList:
        return (True)
    else:
        return (False) 
verify('76')
# print(firstList)

[2, 4, 10, True, False, 'late']

True

In [15]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
print(hands[0][-1])

K

In [16]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers] 
print(squared_numbers)

[1, 4, 9, 16, 25]

In [17]:
list1 = [1, 2, 4, 5, 3, 7]
list2 = [8, 15, 20, 30, 11, 12]
joinedList = list1 + list2
joinedList.sort()
print(joinedList)

[1, 2, 3, 4, 5, 7, 8, 11, 12, 15, 20, 30]

In [18]:
copied = firstList.copy()
print(copied)

['76', 'birds', 'early', 'early', 'late', 'modified']

In [19]:
test = '57' in firstList
print(test)

False

In [20]:
"""Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """

'Given a list of teams, where each team is a list of names, return the 2nd player (captain)\n    from the last listed team\n    '

In [21]:
list = [1, 'apple', 24,True, 2.7]
list[0] = 2
# list.pop(1)

print(len(list))

5

In [22]:
newList = [2, 4, 8,7,5,6,9,10,1,3]
newList.sort()
newList.reverse()
print(newList)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
nested = [[2, 4, 8,7,5,6,9,10,1,3], [1, 'apple', 24,True, 2.7]]
print(nested)

[[2, 4, 8, 7, 5, 6, 9, 10, 1, 3], [1, 'apple', 24, True, 2.7]]

In [24]:
# check = 
concat = list + newList + nested + [10,9,8]
if 10 in concat:
    print(10)

10

In [25]:
fruits = ["apple", "banana", "cherry"]
for _gh in fruits:
    print(_gh)

apple
banana
cherry

In [26]:
count = 10
while count == 10:
    print(count)
    count += 1

10

In [27]:
num = 4
# num %= 5 #num = num + 5
print(num % 2)

0

In [28]:
for num in range(0,100):
    if (num % 2 == 0):
        print(str(num) +' even')
    else:
        print(str(num) +' odd')

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd

In [29]:
listNow = [2, 5, 'name', True, 45, 60]
listThen = listNow[1:5]
print(listThen)

[5, 'name', True, 45]

In [30]:
ranGe = range(7,21)
print(ranGe)

range(7, 21)

In [31]:
sqaured = [x**3 for x in ranGe]
print(sqaured)

[343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [32]:
for x in ranGe:
    print(x**3)

343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000

In [33]:
tuple = (1, 4, 5,6 ,69, 438, 1812, 3, 4)
cube = [x**3 for x in tuple]
print(cube)

[1, 64, 125, 216, 328509, 84027672, 5949419328, 27, 64]

In [34]:
newRange = range(1,21)
newList = [x for x in newRange]
print(newList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
oddList = [x for x in newList if (x%2 != 0)]
print(oddList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [x for row in matrix for x in row]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
empty = []
for x in range(7,21):
    empty.insert(x,x**3)
print(empty)

[343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [38]:
notEmpty = [x**3 for x in range(7,21)]
print(notEmpty)

[343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [42]:
insertList = [1,3,4,5]
print(len(insertList))
insertList.insert(2, 'new')
print(insertList)
print(len(insertList))

4
[1, 3, 'new', 4, 5]
5

In [51]:
name = 'Jafar'

In [3]:
greeting = 'Hello'
def nwhbhds(h,c):
    return h + c 

nwhbhds(4,4)

8